---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'
import Tags from '@components/widget/Tags.astro'

const meowPost = await getEntry('spec', 'meow')
const meowEnd = await getEntry('spec', 'meow-end')

const { Content: IntroContent } = await meowPost.render()
const { Content: EndContent } = await meowEnd.render()

const items = [
    // {
    //     title: 'Example',
    //     imgurl: 'https://blog.aulypc0x0.online/_astro/favicon_amiya.plJwvgXH_ZGvskH.webp',
    //     desc: 'Example friend card',
    //     siteurl: 'meow meow meow',
    //     tags: ['戰隊朋友','同班同學...etc'],
    // },
    {
        title: 'Mayboy',
        imgurl: 'https://www.mayboy.net/profile.webp',
        desc: 'Be Patient!',
        siteurl: 'https://www.mayboy.net/',
        tags: [''],
    },
    {
        title: 'hsuan0223x',
        imgurl: 'https://blog.hsuan0223x.com/_astro/avatar.C2ebVal-_Z1kBd17.webp',
        desc: '一個沒什麼特別的人',
        siteurl: 'https://blog.hsuan0223x.com/',
        tags: [''],
    },
    {
        title: 'Yuan',
        imgurl:'https://yuan-tw.net/images/2.jfif',
        desc: '目前在 NCSE Network 打工，當個每天都在通靈的 Network Operator',
        siteurl: 'https://yuan-tw.net/',
        tags: [''],
    },
    {
        title: 'ChiLin',
        imgurl: 'https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-6/450059926_2370100113381635_4066826226869461709_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=mCuqfPC-3d4Q7kNvgGE-bHg&_nc_zt=23&_nc_ht=scontent-hkg4-1.xx&_nc_gid=9CxCX9fdKoFKqrRY700IGQ&oh=00_AYH72tLCYm7eyyep6yiCtqN6BRK5-YBts7HQ6UNjljGSHw&oe=67E6D8D9',
        desc: 'CyberSecurity / CTF Player / Rhythm Game',
        siteurl: 'https://neko70.net/',
        tags: [''],
    },
    {
        title: 'Frank',
        imgurl: 'https://avatars.githubusercontent.com/u/135571477?v=4',
        desc: 'Linux & FOSS lover',
        siteurl: 'https://frankk.uk/',
        tags: [''],
    },
    {
        title: 'LemonTea',
        imgurl: 'https://scontent.ftpe7-4.fna.fbcdn.net/v/t39.30808-6/454447028_2020896431676829_1533747776623422991_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=tBZDVm1wrgUQ7kNvgEkg4YF&_nc_oc=AdmKIZ-YwcR6b3ZGlSbUtGiOI3mgnLIZhKh1poIFdftmGvf7A79J8TuxFMjKcnhE67I&_nc_zt=23&_nc_ht=scontent.ftpe7-4.fna&_nc_gid=LfBTiFuohSeAIrgKS1F41w&oh=00_AYGwPRo4ad4901dslzZq2ins9MO3UjFQe5Px7lVxQuuspw&oe=67E6E4E6',
        desc: '一個對資訊有特別熱忱的學生',
        siteurl:'https://blog.alvin-tw.me/',
        tags: [''],
    },
    {
        title: 'Elliot_404',
        imgurl: 'https://avatars.githubusercontent.com/u/115418645?v=4',
        desc: '一個喜歡資訊安全的學生，主要打 Web, OSINT',
        siteurl: 'https://elliot-tw.pages.dev/',
        tags: [''],
    }
]
---
<MainGridLayout title={i18n(I18nKey.meow)} description={i18n(I18nKey.meow)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <IntroContent />
            </Markdown>
            <!-- <h1 class="text-xl font-bold mb-4 text-neutral-900 dark:text-neutral-100">
                My friends
              </h1> -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8 my-4">
                {items.map((item) => (
                        <div class="flex flex-nowrap items-stretch h-28 gap-4 rounded-[var(--radius-large)]">
                            <div class="w-28 h-28 flex-shrink-0 rounded-lg overflow-hidden bg-zinc-200 dark:bg-zinc-900">
                                <img src={item.imgurl} alt="站点头像" class="w-full h-full object-cover">
                            </div>
                            <div class="grow w-full">
                                <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 mb-1">{item.title}</div>
                                <div class="text-50 text-sm font-medium">{item.desc}</div>
                                <div class:list={["items-center", {"flex": true, "hidden md:flex" : false}]}>
                                    <div class="flex flex-row flex-nowrap items-center">
                                        {(item.tags && item.tags.length > 0) && item.tags.map((tag,i) => (
                                                <div class:list={[{"hidden": i==0}, "mx-1.5 text-[var(--meta-divider)] text-sm" ]}>
                                                    /
                                                </div>
                                                <span class="transition text-50 text-sm font-medium">
                                        {tag}
                                    </span>))}
                                        {!(item.tags && item.tags.length > 0) && <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>}
                                    </div>
                                </div>
                            </div>
                            <a href={item.siteurl} target="_blank" rel="noopener noreferrer"class="flex btn-regular w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="transition text-[var(--primary)] text-4xl mx-auto iconify iconify--material-symbols" width="1em" height="1em" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"></path>
                                </svg>
                            </a>
                        </div>
                ))}
            </div>
            <h1>\n</h1>
            <Markdown class="mt-2">
                <br>
                <EndContent />
            </Markdown>
        </div>
    </div>
</MainGridLayout>